html {
  background: url(http://www.healthtechzone.com/topics/healthcare/articles/2018/02/20/437069-will-himss-18-address-disruption-the-traditional-office.htm) no-repeat center center fixed;
  background-size: cover;
}
body {
  padding-top: 40px;
  padding-bottom: 120px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 114px;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}
