.App {
  text-align: center;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App-header:nth-child(2) {
  font-size: 20;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/*some css I added*/
input[type="file"] {
    display: inline-block;
}

select > option {
  color: lightgray;
}

.table {
      max-width: 90%;
      margin: 10px;
}
.table th {
    text-align: center;
}

.market-data {
  display: block;
}

.market-data-list {
  border: solid 1px grey;
}
.market-data-list-item {

}
/*end of my css*/
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 30%;
  padding: 10px;
  height: 1000px; /* Should be removed. Only for demonstration */
}

.column2 {
  float: left;
  width: 70%;
  padding: 10px;
  height: 1000px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
